node-red/te-light-demo-dashboard.js
[{"id":"58b8ec9a.1c38fc","type":"tab","label":"TE Light Demo Dashboard"},{"id":"e3fa1cc1.1c79f8","type":"inject","z":"58b8ec9a.1c38fc","name":"","topic":"update","payload":"5","payloadType":"num","repeat":"1","crontab":"","once":false,"x":90,"y":200,"wires":[["867156ab.9558c8"]]},{"id":"c98b8f93.871578","type":"http request","z":"58b8ec9a.1c38fc","name":"","method":"use","ret":"txt","url":"","tls":"","x":110,"y":280,"wires":[["319b884b.94ba78"]]},{"id":"867156ab.9558c8","type":"function","z":"58b8ec9a.1c38fc","name":"Generate Telemetry Update","func":"var deviceHID = global.get(\"g_TE_Demo_HID\");\nvar apiKey = global.get(\"g_API_Key\");\n    \nif (msg.topic == 'update') {\n    msg.url = \"https://api.arrowconnect.io/api/v1/kronos/telemetries/devices/\" +\n               deviceHID + \"/latest\"\n    msg.method = \"GET\";\n    msg.headers = {\n      \"Accept\": \"application/json\",\n      \"x-auth-token\": apiKey\n    };\n    \n    return msg;\n}","outputs":1,"noerr":0,"x":140,"y":240,"wires":[["c98b8f93.871578"]]},{"id":"319b884b.94ba78","type":"json","z":"58b8ec9a.1c38fc","name":"","x":110,"y":320,"wires":[["f2bedec9.b5f9f8","c6957a84.65103","444e697d.ad8bc8","67fa3ec3.a280a","6f169950.d8eea8"]]},{"id":"f2bedec9.b5f9f8","type":"function","z":"58b8ec9a.1c38fc","name":"getLight","func":"msg.payload.data.forEach(function (value, index, array) {\n    if (value.name == \"light\") {\n        //var pressure = value.floatValue / 10.0\n        console.log(value);\n        msg.payload = value.intValue;// parseFloat(pressure).toFixed(5);\n        msg.time = new Date(value.timestamp).toLocaleString();\n        msg.lapsed = ((Date.now() - value.timestamp) / 1000.0).toFixed(1);\n        if (msg.lapsed < 0) msg.lapsed = 0;\n        if (msg.lapsed < 60) {\n            msg.lapsedUnit = \"seconds\";\n        } else if (msg.lapsed < 3600) {\n            msg.lapsed /= 60;\n            msg.lapsed = msg.lapsed.toFixed(1);\n            msg.lapsedUnit = \"minutes\";\n        } else {\n            msg.lapsed /= 3600;\n            msg.lapsed = msg.lapsed.toFixed(1);\n            msg.lapsedUnit = \"hours\";\n        }\n    }\n});\n\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":340,"wires":[["340fa479.f1632c","add53737.098318","c92bf016.673498"]]},{"id":"340fa479.f1632c","type":"ui_gauge","z":"58b8ec9a.1c38fc","name":"LightGauge","group":"fe4c037f.8126f8","order":1,"width":"6","height":"6","gtype":"gage","title":"Light","label":"Units","format":"{{value}}","min":0,"max":"2000","colors":["#000000","#efe781","#ffffff"],"seg1":"1000","seg2":"1500","x":530,"y":340,"wires":[]},{"id":"c6957a84.65103","type":"function","z":"58b8ec9a.1c38fc","name":"getTemperature","func":"msg.payload.data.forEach(function (value, index, array) {\n    if (value.name == \"temperature\") {\n        msg.payload = parseFloat(value.floatValue).toFixed(1);\n        msg.time = new Date(value.timestamp).toLocaleString();\n        msg.lapsed = ((Date.now() - value.timestamp) / 1000.0).toFixed(1);\n        if (msg.lapsed < 0) msg.lapsed = 0;\n        if (msg.lapsed < 60) {\n            msg.lapsedUnit = \"seconds\";\n        } else if (msg.lapsed < 3600) {\n            msg.lapsed /= 60;\n            msg.lapsed = msg.lapsed.toFixed(1);\n            msg.lapsedUnit = \"minutes\";\n        } else {\n            msg.lapsed /= 3600;\n            msg.lapsed = msg.lapsed.toFixed(1);\n            msg.lapsedUnit = \"hours\";\n        }\n    }\n});\n\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":220,"wires":[["caf2f47e.ee90e","e1b70f30.4cf098","b602b82d.253608"]]},{"id":"caf2f47e.ee90e","type":"ui_gauge","z":"58b8ec9a.1c38fc","name":"TemperatureGauge","group":"9cfd82d9.c64b","order":1,"width":"6","height":"6","gtype":"gage","title":"Temperature","label":"°F","format":"{{value}}","min":0,"max":"100","colors":["#0080ff","#00b500","#ca3838"],"seg1":"60","seg2":"80","x":550,"y":220,"wires":[]},{"id":"444e697d.ad8bc8","type":"function","z":"58b8ec9a.1c38fc","name":"getHumidity","func":"msg.payload.data.forEach(function (value, index, array) {\n    if (value.name == \"humidity\") {\n        msg.payload = parseFloat(value.floatValue).toFixed(1);\n        msg.time = new Date(value.timestamp).toLocaleString();\n        msg.lapsed = ((Date.now() - value.timestamp) / 1000.0).toFixed(1);\n        if (msg.lapsed < 0) msg.lapsed = 0;\n        if (msg.lapsed < 60) {\n            msg.lapsedUnit = \"seconds\";\n        } else if (msg.lapsed < 3600) {\n            msg.lapsed /= 60;\n            msg.lapsed = msg.lapsed.toFixed(1);\n            msg.lapsedUnit = \"minutes\";\n        } else {\n            msg.lapsed /= 3600;\n            msg.lapsed = msg.lapsed.toFixed(1);\n            msg.lapsedUnit = \"hours\";\n        }\n    }\n});\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":100,"wires":[["ad7014dc.963eb8","58e1b8c0.5e23c","af53eb80.73f0b8"]]},{"id":"ad7014dc.963eb8","type":"ui_gauge","z":"58b8ec9a.1c38fc","name":"HumidityGauge","group":"2ca105f1.5a121a","order":1,"width":"6","height":"6","gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#9f6062","#0080ff","#852efc"],"seg1":"25","seg2":"50","x":540,"y":100,"wires":[]},{"id":"add53737.098318","type":"ui_template","z":"58b8ec9a.1c38fc","group":"fe4c037f.8126f8","name":"pressureTime","order":3,"width":"6","height":"2","format":"<div style=\"text-align:center; font-weight:bold\">\n    <p>{{msg.time}}</p>\n</div>\n<div style=\"text-align:center;\">\n    <p>{{msg.lapsed}} {{msg.lapsedUnit}} since last update</p>\n</div>","storeOutMessages":true,"fwdInMessages":true,"x":540,"y":380,"wires":[[]]},{"id":"e1b70f30.4cf098","type":"ui_template","z":"58b8ec9a.1c38fc","group":"9cfd82d9.c64b","name":"temperatureTime","order":3,"width":"6","height":"2","format":"<div style=\"text-align:center; font-weight:bold\">\n    <p>{{msg.time}}</p>\n</div>\n<div style=\"text-align:center;\">\n    <p>{{msg.lapsed}} {{msg.lapsedUnit}} since last update</p>\n</div>","storeOutMessages":true,"fwdInMessages":true,"x":550,"y":260,"wires":[[]]},{"id":"58e1b8c0.5e23c","type":"ui_template","z":"58b8ec9a.1c38fc","group":"2ca105f1.5a121a","name":"humidityTime","order":3,"width":"6","height":"2","format":"<div style=\"text-align:center; font-weight:bold\">\n    <p>{{msg.time}}</p>\n</div>\n<div style=\"text-align:center;\">\n    <p>{{msg.lapsed}} {{msg.lapsedUnit}} since last update</p>\n</div>","storeOutMessages":true,"fwdInMessages":true,"x":525,"y":140,"wires":[[]]},{"id":"af53eb80.73f0b8","type":"ui_chart","z":"58b8ec9a.1c38fc","name":"HumidityChart","group":"2ca105f1.5a121a","order":2,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#80ff80","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":540,"y":60,"wires":[[],[]]},{"id":"b602b82d.253608","type":"ui_chart","z":"58b8ec9a.1c38fc","name":"TemperatureChart","group":"9cfd82d9.c64b","order":2,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":550,"y":180,"wires":[[],[]]},{"id":"c92bf016.673498","type":"ui_chart","z":"58b8ec9a.1c38fc","name":"LightChart","group":"fe4c037f.8126f8","order":2,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"0","ymax":"2000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#ff0000","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":530,"y":300,"wires":[[],[]]},{"id":"2d900d61.c9c1aa","type":"function","z":"58b8ec9a.1c38fc","name":"SetGlobals","func":"global.set(\"g_API_Key\", \"7d8bc81052d00a1fce71fe5140ca0681a63338dd61b563696f54f9d973e11f6a\");\nglobal.set(\"g_GatewayHID\", \"2e9654b166bd6d9c953f60a09a9cb66dfc93dd80\");\nglobal.set(\"g_TE_Demo_HID\", \"f4baf81d57d604667b79d29a5055602acb6b2e5e\");\n\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":20,"wires":[[]]},{"id":"fa4c0783.5028e","type":"inject","z":"58b8ec9a.1c38fc","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"x":80,"y":20,"wires":[["2d900d61.c9c1aa"]]},{"id":"41912b0c.2b8e5c","type":"function","z":"58b8ec9a.1c38fc","name":"Command - Toggle","func":"var gatewayHID = global.get(\"g_GatewayHID\");\nvar deviceHID = global.get(\"g_TE_Demo_HID\");\nvar apiKey = global.get(\"g_API_Key\");\n\nmsg.url = \"https://api.arrowconnect.io/api/v1/kronos/gateways/\" +\n           gatewayHID + \"/devices/\" + deviceHID +\"/actions/command\"\naction = msg.payload;\nmsg.payload = {\n        \"command\": \"enable-etg\",\n        \"deviceHid\": global.get(\"g_TE_Demo_HID\"),\n        \"payload\": \"{\\\"value\\\": \\\"\" + action + \"\\\"}\"\n};\n\nmsg.method = \"POST\";\nmsg.headers = {\n  \"Accept\": \"application/json\",\n  \"x-auth-token\": apiKey\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":720,"wires":[["c24331be.0c5368"]]},{"id":"c24331be.0c5368","type":"http request","z":"58b8ec9a.1c38fc","name":"Arrow Command - Toggle","method":"use","ret":"txt","url":"","tls":"4dcc9e9c.3f803","x":490,"y":720,"wires":[[]]},{"id":"9842f1b7.76dfa8","type":"ui_button","z":"58b8ec9a.1c38fc","name":"OnLED","group":"c56ad8b4.c8b408","order":2,"width":0,"height":0,"label":"On","color":"","bgcolor":"#408040","icon":"fa-sun-o","payload":"true","payloadType":"bool","topic":"","x":100,"y":720,"wires":[["41912b0c.2b8e5c"]]},{"id":"7addecda.a84734","type":"ui_button","z":"58b8ec9a.1c38fc","name":"OffLED","group":"c56ad8b4.c8b408","order":3,"width":0,"height":0,"label":"Off","color":"","bgcolor":"#804040","icon":"fa-moon-o","payload":"false","payloadType":"bool","topic":"","x":100,"y":760,"wires":[["41912b0c.2b8e5c"]]},{"id":"2f6e52e7.dce16e","type":"ui_slider","z":"58b8ec9a.1c38fc","name":"","label":"","group":"c56ad8b4.c8b408","order":5,"width":"0","height":"0","passthru":true,"topic":"","min":0,"max":"100","step":1,"x":92,"y":814,"wires":[["7f33ff3a.5bf78","24955519.c9f48a"]]},{"id":"7f33ff3a.5bf78","type":"function","z":"58b8ec9a.1c38fc","name":"Command - Toggle","func":"var gatewayHID = global.get(\"g_GatewayHID\");\nvar deviceHID = global.get(\"g_TE_Demo_HID\");\nvar apiKey = global.get(\"g_API_Key\");\n\nmsg.url = \"https://api.arrowconnect.io/api/v1/kronos/gateways/\" +\n           gatewayHID + \"/devices/\" + deviceHID +\"/actions/command\"\naction = msg.payload;\nmsg.payload = {\n        \"command\": \"set-pwm\",\n        \"deviceHid\": global.get(\"g_TE_Demo_HID\"),\n        \"payload\": \"{\\\"value\\\": \\\"\" + action + \"\\\"}\"\n};\n\nmsg.method = \"POST\";\nmsg.headers = {\n  \"Accept\": \"application/json\",\n  \"x-auth-token\": apiKey\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":292,"y":814,"wires":[["2d039890.cb46a8"]]},{"id":"2d039890.cb46a8","type":"http request","z":"58b8ec9a.1c38fc","name":"Set Brightness","method":"use","ret":"txt","url":"","tls":"4dcc9e9c.3f803","x":482,"y":814,"wires":[[]]},{"id":"67fa3ec3.a280a","type":"function","z":"58b8ec9a.1c38fc","name":"getVoltage","func":"msg.payload.data.forEach(function (value, index, array) {\n    if (value.name == \"voltage\") {\n        msg.payload = parseFloat(value.floatValue).toFixed(1);\n        msg.time = new Date(value.timestamp).toLocaleString();\n        msg.lapsed = ((Date.now() - value.timestamp) / 1000.0).toFixed(1);\n        if (msg.lapsed < 0) msg.lapsed = 0;\n        if (msg.lapsed < 60) {\n            msg.lapsedUnit = \"seconds\";\n        } else if (msg.lapsed < 3600) {\n            msg.lapsed /= 60;\n            msg.lapsed = msg.lapsed.toFixed(1);\n            msg.lapsedUnit = \"minutes\";\n        } else {\n            msg.lapsed /= 3600;\n            msg.lapsed = msg.lapsed.toFixed(1);\n            msg.lapsedUnit = \"hours\";\n        }\n    }\n});\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":460,"wires":[["403d405a.43621","395a5484.cf11bc"]]},{"id":"403d405a.43621","type":"ui_chart","z":"58b8ec9a.1c38fc","name":"VoltageChart","group":"f77bcd93.72319","order":1,"width":0,"height":0,"label":"Voltage","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"0","ymax":"10","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":530,"y":420,"wires":[[],[]]},{"id":"6f169950.d8eea8","type":"function","z":"58b8ec9a.1c38fc","name":"getCurrent","func":"msg.payload.data.forEach(function (value, index, array) {\n    if (value.name == \"current\") {\n        msg.payload = parseFloat(value.floatValue).toFixed(1);\n        msg.time = new Date(value.timestamp).toLocaleString();\n        msg.lapsed = ((Date.now() - value.timestamp) / 1000.0).toFixed(1);\n        if (msg.lapsed < 0) msg.lapsed = 0;\n        if (msg.lapsed < 60) {\n            msg.lapsedUnit = \"seconds\";\n        } else if (msg.lapsed < 3600) {\n            msg.lapsed /= 60;\n            msg.lapsed = msg.lapsed.toFixed(1);\n            msg.lapsedUnit = \"minutes\";\n        } else {\n            msg.lapsed /= 3600;\n            msg.lapsed = msg.lapsed.toFixed(1);\n            msg.lapsedUnit = \"hours\";\n        }\n    }\n});\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":580,"wires":[["b38f8bc4.819768","3cbef72c.9f7db8"]]},{"id":"b38f8bc4.819768","type":"ui_chart","z":"58b8ec9a.1c38fc","name":"CurrentChart","group":"98413ffe.3f8d9","order":1,"width":0,"height":0,"label":"Current","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"0","ymax":"1000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#d8241f","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":530,"y":540,"wires":[[],[]]},{"id":"24955519.c9f48a","type":"ui_text","z":"58b8ec9a.1c38fc","group":"c56ad8b4.c8b408","order":4,"width":"0","height":"0","name":"Brightness Value","label":"Brightness","format":"{{msg.payload}}%","layout":"col-center","x":297.5,"y":867,"wires":[]},{"id":"3cbef72c.9f7db8","type":"ui_text","z":"58b8ec9a.1c38fc","group":"98413ffe.3f8d9","order":0,"width":0,"height":0,"name":"Current Value","label":"","format":"{{msg.payload}} mA","layout":"col-center","x":540.5,"y":583,"wires":[]},{"id":"395a5484.cf11bc","type":"ui_text","z":"58b8ec9a.1c38fc","group":"f77bcd93.72319","order":0,"width":0,"height":0,"name":"VoltageValue","label":"","format":"{{msg.payload}} V","layout":"col-center","x":531.5,"y":461,"wires":[]},{"id":"d6972954.3b91c8","type":"ui_text","z":"58b8ec9a.1c38fc","group":"c56ad8b4.c8b408","order":1,"width":0,"height":0,"name":"","label":"Light Control","format":"{{msg.payload}}","layout":"col-center","x":103.5,"y":683,"wires":[]},{"id":"fe4c037f.8126f8","type":"ui_group","z":"","name":"Light","tab":"f295ca52.824cd8","order":3,"disp":false,"width":"6"},{"id":"9cfd82d9.c64b","type":"ui_group","z":"","name":"Temperature","tab":"f295ca52.824cd8","order":1,"disp":false,"width":"6"},{"id":"2ca105f1.5a121a","type":"ui_group","z":"","name":"Humidity","tab":"f295ca52.824cd8","order":2,"disp":false,"width":"6"},{"id":"4dcc9e9c.3f803","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","verifyservercert":true},{"id":"c56ad8b4.c8b408","type":"ui_group","z":"","name":"Light","tab":"dfa8e1b7.ff73a","order":1,"disp":false,"width":"6"},{"id":"f77bcd93.72319","type":"ui_group","z":"","name":"Voltage","tab":"dfa8e1b7.ff73a","order":3,"disp":false,"width":"6"},{"id":"98413ffe.3f8d9","type":"ui_group","z":"","name":"Current","tab":"dfa8e1b7.ff73a","order":2,"disp":false,"width":"6"},{"id":"f295ca52.824cd8","type":"ui_tab","z":"","name":"TE MultiSensor","icon":"fa-thermometer-half","order":1},{"id":"dfa8e1b7.ff73a","type":"ui_tab","z":"","name":"TE Light Control","icon":"fa-gamepad","order":2}]